{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}




<div class="row">
	<div class = "col-xs-12 text-center">
	<div class="row" id="success">
	</div>
	<div class="row card">
		<form class="card" id="killform" method="post" action="/postkill">
			{% csrf_token %}
		    {{ formset }}
		   <button type="submit" class="btn btn-primary">Submit</button>
		</form>
		</div>
	</div>
</div>

<script type="text/javascript">
$("#killform").submit(function(e){
	var form = this;
	e.preventDefault();
	var content = $("#id_content").val();
	var out = parseContent(content);
	out["csrfmiddlewaretoken"] = '{{ csrf_token }}' ; 
	$.post("/postkill", out, onSuccess);
});

function onSuccess(data){
	if(data.Success){
		$("#id_content")[0].value = "";
		$("#success")[0].innerHTML = "Kill Mail Posted!"
	}else{
		$("#success")[0].innerHTML = "FAILURE!"
		$("#id_content")[0].value = "";
	}
}

function findNextEmptyLine(lines, currentindex){
	for(var i=currentindex; i<lines.length; i++){
		if(lines[i].length==0){
			return i;
		}
	}
	return lines.length;
}

function getRangeAsDict(lines, start, end){
	var dict = {};
	var killer = false;
	for(var i=start; i<end; i++){
		if(lines[i].includes(":")){
			var keyval = lines[i].split(":");
			dict[keyval[0]] = keyval[1];
		}else if(lines[i].includes("*Killing blow*")){
			dict["Killing blow"] = true;
		}else{
			dict = lines[i];
		}
	}
	return dict;
}

function parseContent(raw){
	var lines = raw.split("\n");
	var kill = {};
	var dict = {};
	for(var i=0; i<lines.length; i++){
		if(i==0){
			dict[lines[0]] = lines[1];
		}else if(lines[i].length==0){
			i++;
			if(lines[i]=="Attackers"){
				i++;
			}
			if(!lines[i].includes(":")){
				var key = lines[i];
				i++;
			}
			var end = findNextEmptyLine(lines, i);
			dict[key] = getRangeAsDict(lines, i, end);
		}
	}
	return dict;
}
</script>

{% load staticfiles %}


{%endblock%}
