{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}


<div class="row">
	<div class = "col-xs-12 text-center">
	{% if kills %}
		{% for kill in kills %}
			<div class="row card hover">
			Date: {{kill.date}}<br>
			Zone: {{kill.zone}}<br>
			Victim: {{kill.victim_agent.name}}<br>
			Corp: {{kill.victim_agent.corp.name}}<br>
			Robot: {{kill.victim_robot.name}}<br>
			<br>
			Attackers:<br>
			{% for attacker in kill.attackers.all %}
			<div class="row card hover">
				Agent: {{attacker.player.name}}<br>
				Corp: {{attacker.player.corp.name}}<br>
				Robot: {{attacker.robot.name}}<br>
				Damage: {{attacker.damage}}<br>
				ECM: {{attacker.ecm_hits}}/{{attacker.ecm_attempts}}<br>
				Demob: {{attacker.demob}}<br>
				Sensor Suppression: {{attacker.suppress}}<br>
				Energy Drain: {{attacker.energy}}<br>
				{% if attacker.killing_blow %}
					<b>**Killing Blow!**</b><br>
				{%endif%}
				</div>
			{% endfor %}
			<br>
			</div>
		{%endfor%}
	{% endif %}
	<div class="row">
	</div>
	{% if page > 0 %}
	<a href="/{{page|add:-1}}" type="button"  class="btn btn-primary">Prev</a>

	{%endif%}
	<a href="/{{page|add:1}}" type="button"  class="btn btn-primary">Next</a>
	

	</div>
</div>


{% load static %}


{%endblock%}
