{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}


<div class="row">
	<div class = "col-xs-12 text-center">
	{% if kills %}
		{% for kill in kills %}
			<div class="row">
			{{kill.id}}<br>
			{{kill.content}}<br>
			</div>
		{%endfor%}
	{% endif %}

	{% if page > 0 %}
	<a href="/{{page|add:-1}}" type="button"  class="btn btn-primary">Prev</a>

	{%endif%}
	<a href="/{{page|add:1}}" type="button"  class="btn btn-primary">Next</a>
	

	</div>
</div>


{% load static %}


{%endblock%}
